[database]
reference=
indir=
outdir=
remember_settings=0
marker_P1_name=P1
marker_A_name=A
marker_A1_name=A'
marker_B_name=B
marker_C_name=C
marker_P2_name=P2
marker_D_name=D
marker_E_name=E
marker_F_name=F
marker_F1_name=F'
marker_G_name=G
marker_G1_name=G'
tbP11=-0.3
tbP12=+1.3
tbA1=-0.3
tbA2=+1.3
tbA11=-0.3
tbA12=+1.3
tbB1=-0.3
tbB2=+0.3
tbC1=-0.3
tbC2=+0.3
tbP21=-0.3
tbP22=+0.3
tbD1=-0.3
tbD2=+0.3
tbE1=-0.3
tbE2=+1.3
tbF1=-0.3
tbF2=+0.3
tbF11=-0.3
tbF12=+0.3
tbG1=-0.3
tbG2=+1.3
tbG11=-0.3
tbG12=+1.3
tbminrows=4
peak_warning_enabled=1
peak_warning_threshold=500
custom1_name=
custom1_low=
custom1_high=
custom2_name=
custom2_low=
custom2_high=
custom3_name=
custom3_low=
custom3_high=
custom4_name=
custom4_low=
custom4_high=
custom5_name=
custom5_low=
custom5_high=
custom6_name=
custom6_low=
custom6_high=
custom7_name=
custom7_low=
custom7_high=
custom8_name=
custom8_low=
custom8_high=
